body {
  margin: 0;
  padding: 0;
}

#level {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: aqua;
  height: 900px;
  width: 900px;
}

button {
  margin: 20px 10px;
}

button:first-of-type {
  margin-left: 20px;
}

.island {
  position: absolute;
  background-color: sandybrown;
  height: 30px;
  width: 30px;
  margin: 15px;
  text-align: center;
  font-size: 26px;
  user-select: none;
  border-radius: 100%;
}

.bridgeH,
.bridgeV {
  position: absolute;
}

.bridgeH {
  margin-top: 27px;
  height: 2px;
  border-top: solid black 2px;
}

.bridgeH.double {
  border-bottom: solid black 2px;
}

.bridgeV {
  margin-left: 27px;
  width: 2px;
  border-left: solid black 2px;
}

.bridgeV.double {
  border-right: solid black 2px;
}

.sail {
  position: absolute;
  width: 16px;
  height: 26px;
  margin: 12px 0 0 17px;
  background: linear-gradient(
    to bottom right,
    aqua 0%,
    aqua 50%,
    white 50%,
    white 100%
  );
}

.boat {
  position: absolute;
  width: 25px;
  height: 4px;
  margin: 42px 0 0 17px;
  background-color: blue;
}

.dock {
  position: absolute;
  width: 20px;
  height: 10px;
  margin: 8px 0 0 5px;
  transform: rotate(45deg);
  background-color: brown;
}

#yaml {
  position: absolute;
  left: 940px;
  bottom: 20px;
  width: 300px;
  height: 600px;
}
