body {
  margin: 0;
  padding: 0;
}

#level {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: #20b2aa;
  height: 900px;
  width: 900px;
}

button {
  margin: 20px 10px;
}

button:first-of-type {
  margin-left: 20px;
}

.island {
  position: absolute;
  background-color: #d8bd6d;
  border: 3px solid #96fffa;
  border-top-width: 1px;
  border-bottom-width: 4px;
  height: 30px;
  width: 30px;
  margin: 14px 12px 11px;
  text-align: center;
  font-size: 26px;
  user-select: none;
  border-radius: 100%;
}

.bridgeH,
.bridgeV {
  position: absolute;
}

.bridgeH {
  margin-top: 27px;
  height: 2px;
  border-top: solid black 2px;
}

.bridgeH.double {
  border-bottom: solid black 2px;
}

.bridgeV {
  margin-left: 27px;
  width: 2px;
  border-left: solid black 2px;
}

.bridgeV.double {
  border-right: solid black 2px;
}

.sail {
  position: absolute;
  width: 14px;
  height: 24px;
  margin: 14px 0 0 17px;
  background: linear-gradient(
    to bottom right,
    #20b2aa 0%,
    #20b2aa 50%,
    white 50%,
    white 100%
  );
}

.jib-sail {
  position: absolute;
  width: 10px;
  height: 19px;
  margin: 19px 0 0 33px;
  background: linear-gradient(
    to bottom left,
    #20b2aa 0%,
    #20b2aa 50%,
    white 50%,
    white 100%
  );
}

.boat {
  position: absolute;
  width: 25px;
  height: 7px;
  margin: 42px 0 0 17px;
  background: radial-gradient(
    at top,
    transparent,
    transparent 14px,
    #20b2aa 14px,
    #20b2aa 100%
  );
  background-color: blue;
}

.dock {
  position: absolute;
  width: 20px;
  height: 10px;
  margin: 9px 0 0 6px;
  transform: rotate(45deg);
  background: repeating-linear-gradient(
    to left,
    transparent,
    transparent 4px,
    black 4px,
    black 5px
  );
  background-color: #855e42;
}

#yaml {
  position: absolute;
  left: 940px;
  bottom: 20px;
  width: 300px;
  height: 600px;
}
